.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.3rem;
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
    font-size: 1.2rem;
    color: gray;
}

.options p{
    font-size: 0.6rem;
    font-weight: 700;
    text-align: center;
}

.options:hover{
    cursor: pointer;
    color: black;
}